@import "../../styles/styles";

.buttonContainer {
  position: relative;
  z-index: 0;
}

.button {
  display: inline-block;
  padding: 16px 31px;
  text-decoration: none;
  margin-right: 20px;
  margin-bottom: 32px;
  border-radius: 3px;
}

a.primary {
  color: #010610;
  background-color: $highlight-color;
  position: relative;
  transition-property: left top;
  transition-duration: 0.1s;
  left: 0;
  top: 0;

  &::after {
    content: " ";
    display: block;
    border: 2px solid #fff;
    width: 100%;
    height: 100%;
    left: 8px;
    top: 10px;

    transition-property: left top;
    transition-duration: 0.1s;

    position: absolute;
    z-index: -1;
  }

  &:hover,
  &:focus {
    background-color: #ffd936;

    &::after {
      left: 4px;
      top: 5px;
    }
  }

  &:active {
    position: relative;
    top: 3px;
    left: 2px;
  }
}

a.secondary {
  color: #fff;
  &:hover,
  &:focus {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
