@import "../styles/styles";

.docContainer {
    display: grid;
    gap: 2rem;
    grid-template:
            "nav"
            "content";

    @media screen and (min-width: $br-small) {
        grid-template:
            "nav   content" /
            6fr   10fr;
    }
}

.docNav {
    grid-area: nav;
}

.docContent {
    grid-area: content;
    margin-top: 50px;

    @media screen and (min-width: $br-small) {
        margin-top: 171px;
    }
}

.docContent h1, h2, h3, h4, h5, h6 {
    color: #000000;
    font-weight: 400;
}

.docContent h1 {
    font-size: 42px;
    line-height: 49px;
}

.docContent h2 {
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    margin-top: 80px;
    margin-bottom: 40px;
}

.docContent p, li {
    margin: 40px 0;
}

.docContent ul {
    list-style-type: none;
    padding-left: 40px;
    
}

.docContent ul li:before {
    content: '\2014';
    position: absolute;
    margin-left: -40px;
}