@import "../styles/styles";

.docWrapper {
  margin-top: 50px;
  overflow: hidden;
  /* Permit box-shadow to show on RHS despite overflow:hidden */
  padding-left: 36px;
  padding-right: 36px;
  margin-left: -36px;
  margin-right: -36px;

  @media screen and (min-width: $br-single-column) {
    margin-top: 0;
    flex-shrink: 1;

    /* Permit box-shadow to show on RHS despite overflow:hidden */
    padding-left: 0;
    padding-right: 40px;
    margin-left: 0;
    margin-right: -40px;
  }
}

.topicTitle {
  color: #000000;
  line-height: 49px;
  font-size: 42px;
  font-weight: 400;
  font-family: "Work Sans", sans-serif;
  @include highlight-underline;
}

.docContent {
  color: #606060;

  @media screen and (min-width: $br-container-lg) {
    max-width: $width-content-max;
    margin: 0 auto;
  }

  @media screen and (min-width: $br-single-column) {
    margin: 40px 0 0 50px;
  }
}

.docPostContent {
  a {
    color: $theme-color;
    text-decoration: none;
    font-weight: 600;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
    line-height: 27px;
    margin-top: 80px;
    margin-bottom: 40px;
  }

  p,
  li {
    margin: 40px 0;
  }

  ul {
    list-style-type: none;
    padding-left: 40px;
  }

  ul li:before {
    content: "\2014";
    position: absolute;
    margin-left: -40px;
  }

  summary {
    &::-webkit-details-marker {
      display: none;
    }
    list-style-type: none;
    color: #000000;
    cursor: pointer;
  }

  details {
    padding: 16px 0;
    border-bottom: 1px solid #85909f;

    &:first-of-type {
      border-top: 1px solid #85909f;
    }

    summary {
      &::before {
        display: inline-block;
        content: " ";
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><rect x="7.44" y="0.5" width="1.11" height="15"/><path d="M8.05,1V15H8V1h.1m1-1H7V16h2.1V0Z"/><rect x="0.5" y="7.44" width="15" height="1.11"/><path d="M15,8v.1H1V8H15m1-1H0v2.1H16V7Z"/></svg>');
        transition: transform 0.2s ease-in-out;
        margin-right: 22px;
        width: 16px;
        height: 16px;
      }
    }

    &[open] summary::before {
      transform: rotate(90deg);
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><rect x="7.44" y="0.5" width="1.11" height="15"/><path d="M8.05,1V15H8V1h.1m1-1H7V16h2.1V0Z"/></svg>');
    }
  }

  table {
    border-collapse: collapse;
    margin: 50px 0 20px 0;

    @media screen and (min-width: $br-single-column) {
      min-width: 500px;
    }

    th,
    td {
      text-align: left;
      vertical-align: top;
      padding: 8px;

      @media screen and (min-width: $br-single-column) {
        min-width: 200px;
        padding: 19px;
      }

      &[align="center"] {
        text-align: center;
      }

      &[align="right"] {
        text-align: right;
      }
    }

    th {
      color: #000;
    }

    tr {
      border-bottom: 1px solid #cccccc;
    }
  }
}

.metaFooter {
  margin-top: 40px;
  border-top: 1px solid #dde1e8;
  padding-top: 40px;
}

.editIcon {
  height: 1em;
  margin-bottom: -1px;
}

.editLink {
  color: #606060;
  font-weight: 400;
  text-decoration: none;
  font-size: 14px;

  &:hover {
    color: $theme-color;
  }
}
