.identifier {
    text-decoration: none;
    color: currentColor;
    font-size: 18px;
    font-weight: 500;
    font-family: "Work Sans", sans-serif;
}

.image {
    width: 26px;
    height: 30px;
    margin-right: -5px;
    margin-bottom: 4px;
}