$br-small: 902px;
$br-single-column: 932px;

$br-container-md: 800px;
$br-container-lg: 1320px;

$margin-container-sm: 36px;
$margin-container-md: 50px;
$width-container-lg: 1200px;
$width-content-max: 800px;

$color-main-bg: #efefef;
$color-nav-marker: #e3e3e3;

$theme-color: #003594;
$highlight-color: #eea209;

$transition-speed: 0.3s;

$topic-path-space: 46px;

$navWidthMd: 300px;
$navWidthLg: 420px;
