@import "../../styles/styles";
@import "./layout";

.globalStyle {
    body {
        background-color: #000;
        color: #fff;
        background-image: url('../../images/index-bg.svg');
        background-size: 812px;
        background-repeat: no-repeat;
        
        $top-offset: -70px;
        background-position: top $top-offset left 70px;

        @media screen and (min-width: 768px) {
            background-position: top $top-offset right -200px;
        }

        @media screen and (min-width: 1024px) {
            background-position: top $top-offset right -100px;
        }

        @media screen and (min-width: 1280px) {
            background-position: top -70px left calc(50% + 330px);
        }

        @media screen and (min-width: 1280px) {
            background-position: top -70px left calc(50% + 500px);
            background-size: 900px;
        }
        
    }

    a {
        color: #fff;
    }
}
