@import "../../styles/styles";

html {
    font-family: "Work Sans", sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $color-main-bg;
    color: #606060;
    line-height: 32px;
    font-size: 16px;
}

a {
    color: #000;
    font-weight: 500;
}

ul {
    padding-inline-start: 40px;
}

pre, code, kbd {
    font-family: "IBM Plex Mono", monospace;
    font-size: 0.95rem;
}