@import "../../styles/styles";

.container {
    margin: 0 $margin-container-sm;

    @media screen and (min-width: $br-container-md) {
        margin: 0 $margin-container-md;
    }

    @media screen and (min-width: $br-container-lg) {
        max-width: $width-container-lg;
        margin: 0 auto;
    }
}