@import "../styles/styles";

$br-sm: 600px;
$br-lg: 800px;
$br-lg: 1124px;

.heroContainer {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(1, 1fr);
  position: relative;
  z-index: 1;

  @include full-width-container;

  $header-height: 107px;

  padding-top: $header-height;
  margin-top: -$header-height;

  background-color: $theme-color;
  color: #fff;
  border-bottom-right-radius: 50px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media screen and (min-width: $br-container-md) {
    background-position: right -80% center;
  }

  @media screen and (min-width: $br-lg) {
    background-image: url("../images/illustrations-galasa-08.svg");
    background-repeat: no-repeat;
    background-position: right $margin-container-md center;
    background-size: 45%;
  }

  @media screen and (min-width: $br-container-lg) {
    background-position: right calc((100vw - 1200px) / 2) center;
    background-size: 600px;
  }

  @media screen and (min-width: $br-lg) {
    grid-template-columns: 8fr 4fr;
  }

  @include cornerCurlLeft($theme-color);
}

.heroTitle {
  font-size: 38px;
  line-height: 1.17;
  font-weight: 400;
  max-width: 400px;
  margin-top: 125px;
  margin-bottom: 34px;

  @media screen and (min-width: $br-sm) {
    max-width: none;
    font-size: 52px;
  }
}

.heroDescription {
  font-size: 16px;
  margin-bottom: 58px;

  @media screen and (min-width: $br-sm) {
    max-width: 435px;
  }
}

.heroButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 190px;
}

.keyFeatureContainer {
  display: grid;
  gap: 185px;
  padding-top: 185px;
}

.announceBanner {
  font-size: 22px;
  margin-top: -10px;
  margin-bottom: 25px;

  @media screen and (min-width: $br-sm) {
    max-width: 435px;
  }
}

.announceDescription {
  font-size: 18px;
  margin-bottom: 58px;

  @media screen and (min-width: $br-sm) {
    max-width: 435px;
  }
}

.announceLink {
  color: #ffd936;
  font-size: 18px;
  margin-bottom: 58px;

  @media screen and (min-width: $br-sm) {
    max-width: 435px;
  }
}
