@import "../../styles/styles";

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    
    @media screen and (min-width: $br-small) {
        min-height: initial;
        flex-direction: row;
        align-items: baseline;
        width: unset;

        .hamburger {
            display: none;
        }
    }
}

.title {
    margin: 34px 0 0 0;

    @media screen and (min-width: $br-small) {
        flex-grow: 1;
    }
}

.navContainer {
    display: none;
    flex-direction: column;
    margin: 53px (-$margin-container-sm) 0 (-$margin-container-sm);
    padding: 0 $margin-container-sm;
    
    @media screen and (min-width: $br-small) {
        display: flex;
        flex-direction: row;
        margin-top: 0;
        border-bottom: none;
    }
}

a.navLink {
    float: right;
    font-size: 32px;
    text-decoration-line: none;
    font-weight: 400;
    position: relative;
    transition-property: color;
    transition-duration: $transition-speed;
    transition-timing-function: ease-in-out;
    margin: 16px 0;
    font-family: "Work Sans", sans-serif;

    &.selected {
        &:before {
            top: -50px;
        }
    }

    @media screen and (min-width: $br-small) {
        font-size: 18px;
        margin-left: 2em;
        margin-top: 50px;
        font-weight: 600;
        font-family: "Open Sans", sans-serif;

        &:before {
            position: absolute;
            left: 0;
            right: 0;
            top: -90px;
            height: 35px;
            content: " ";
            transition-property: top color;
            transition-duration: $transition-speed;
            transition-timing-function: ease-in-out;
        }
    }
}

%menu-enablement-image {
    position: absolute;
    top: 55px;
    right: 0;
    font-size: 54px;
    padding: 10px;
    margin-top: -15px;
    margin-right: -10px;
}

.closeX {
    @extend %menu-enablement-image;
    display: none;
}

.hamburger {
    @extend %menu-enablement-image;
    display: block;
}

.image {
    width: 20px;
    display: block;
}


@media screen and (max-width: $br-small - 1) {
    .openMenu {

        &:before {
            content: " ";
            display: block;
            position: absolute;
            top: 0;
            left: -$margin-container-sm;
            right: -$margin-container-sm;
            bottom: 0;
            z-index: -1;
            backdrop-filter: blur(5px);
        }

        .navContainer {
            display: flex;
            border-bottom: 1px solid #E6E6E6;
        }
        .closeX {
            display: block;
        }
        .hamburger {
            display: none;
        }
    }
}