.footer {
    margin-top: 141px;
    text-align: center;
}

.identifier {
    margin: 50px 0;
}

.links {
    a {
        color: #000;
        text-decoration-line: none;
        font-weight: 500;
        margin: 12px 16px;
    }

}

.icon {
    display: inline-block;
    margin: 50px 11px;

    img {
        width: 30px;
    
    }
}
