@import "../styles/styles.scss";

.container {
    margin: 0 36px;

    @media screen and (min-width: 800px) {
        margin: 0 100px;
    }

    @media screen and (min-width: 1320px) {
        max-width: 1200px;
        margin: 0 auto;
    }
}