@import "../../styles/styles";

$navBlockTop: 100px + $topic-path-space;
$navBlockPaddingTB: 10px;

.navBlock {
  background-color: #fff;
  padding: $navBlockPaddingTB 18px;
  position: fixed;
  left: $margin-container-sm;
  top: $navBlockTop;
  z-index: 2;
  border-radius: 11px;
  box-shadow: rgba(0, 0, 0, 0.03) 0 6px 22px;
  width: calc(100vw - #{2 * $margin-container-sm});

  transition: box-shadow 0.4s ease-in-out;

  display: flex;
  align-items: flex-start;

  &.openMenu {
    box-shadow: rgba(0, 0, 0, 0.1) 0 12px 40px;

    @media screen and (min-width: $br-single-column) {
      box-shadow: none;
    }
  }

  @media screen and (min-width: $br-container-md) {
    left: 50%;
    margin-left: calc(-50vw + #{$margin-container-md});
    width: calc(100vw - #{2 * $margin-container-md});
  }

  @media screen and (min-width: $br-single-column) {
    position: static;
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;

    box-shadow: none;
    background-color: transparent;
  }
}

.sidebarHeader {
  position: fixed;
  top: 73px;
  z-index: 2;
  font-weight: 400;
  width: calc(100vw - #{2 * $margin-container-sm});

  font-size: 14px;
  color: #fff;
  font-family: "Work Sans", sans-serif;
  line-height: 1.4;

  a {
    color: inherit;
    text-decoration: none;
    font-weight: 400;
  }

  @media screen and (min-width: $br-container-md) {
    width: calc(100vw - #{2 * $margin-container-md});
  }

  @media screen and (min-width: $br-single-column) {
    position: static;
    margin: 0 0 40px 0;
    color: $theme-color;
    width: auto;

    font-size: 42px;
    line-height: 49px;
    a {
      text-decoration: none;
      font-weight: 400;
      display: block;
    }
  }
}

.sideBarHeaderSeparator {
  @media screen and (min-width: $br-single-column) {
    display: none;
  }
}

.sideBarHeaderCurrentTopic {
  font-size: 18px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  display: block;

  @media screen and (min-width: $br-single-column) {
    display: none;
  }
}

.toc {
  @extend %image;
  display: block;
  cursor: pointer;
}

.cross {
  @extend %image;
  display: none;
}

%image {
  flex: 0 0 16px;
  padding: 8px 0;
  @media screen and (min-width: $br-single-column) {
    display: none;
  }
}

@media screen and (max-width: $br-single-column - 1) {
  .openMenu {
    .toc {
      display: none;
    }

    .cross {
      display: block;
    }

    .level1List {
      display: block;
      opacity: 1;
      visibility: visible;
    }

    .topicsHeader {
      display: none;
    }
  }
}

%sidebarItemLink {
  font-size: 14px;
  text-decoration: none;
  display: block;
  font-weight: inherit;
}

%sidebarItem {
  position: relative;
  display: none;
  margin: 16px 0;

  @media screen and (min-width: $br-single-column) {
    display: list-item;
    margin: 3px 0;
  }
}

.openMenu %sidebarItem {
  display: list-item;
}

$icon-text-separation: 19px;

.topicsHeader {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  margin: 0;
  padding-inline-start: $icon-text-separation;
  cursor: pointer;

  @media screen and (min-width: $br-single-column) {
    display: none;
  }
}

.level1List {
  list-style: none;
  margin: 0;
  padding-inline-start: $icon-text-separation;
  overflow-y: scroll;
  max-height: calc(100vh - #{$navBlockTop} - #{3 * $navBlockPaddingTB});
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-in-out;
  width: 100%;

  @media screen and (min-width: $br-single-column) {
    padding-top: 0;
    padding-inline-start: unset;
    display: block;
    opacity: 1;
    visibility: visible;
    overflow-y: initial;
    color: #606060;
  }
}

.level1Item {
  @extend %sidebarItem;
  position: relative;
  font-weight: 500;
  color: #5c5c5c;

  &:first-child {
    margin-top: 0;
  }

  a {
    @extend %sidebarItemLink;
    font-family: "Work Sans", sans-serif;
    color: currentColor;
  }

  @media screen and (min-width: $br-single-column) {
    color: #606060;

    a {
      font-family: "Open Sans", sans-serif;
      transition: color 0.4s ease-in-out;
    }
  }
}

$level2ListPaddingL: 30px;

.level2List {
  list-style-type: none;
  padding-inline-start: $level2ListPaddingL;
}

.level2Item {
  @extend %sidebarItem;
  font-weight: 400;
  color: #000000;

  a {
    color: currentColor;
    @extend %sidebarItemLink;
  }

  @media screen and (min-width: $br-single-column) {
    color: #606060;

    a {
      transition: color 0.4s ease-in-out;
    }
  }
}

.markerInNavPath {
  a {
    color: #1a1b1d;
  }
}

$lozenge-width: 16px;

$selectedPositionRight: -7px;

%marker {
  @media screen and (min-width: $br-single-column) {
    a {
      position: relative;
      padding: -($selectedPositionRight) 1rem;
      border-radius: $lozenge-width / 2;
      transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
    }
  }
}

.level1Marker {
  @extend %marker;

  @media screen and (min-width: $br-single-column) {
    &:hover {
      a {
        color: #fff;
        background-color: rgba($theme-color, 0.5);
      }
    }
  }

  &.level1MarkerSelected {
    font-weight: 500;
    @media screen and (min-width: $br-single-column) {
      a {
        color: #fff;
        background-color: $theme-color;
      }
    }
  }
}

.level2Marker {
  @extend %marker;

  @media screen and (min-width: $br-single-column) {
    &:hover {
      a {
        color: #fff;
        background-color: rgba($theme-color, 0.5);
      }
    }
  }

  &.level2MarkerSelected {
    font-weight: 500;
    @media screen and (min-width: $br-single-column) {
      a {
        color: #fff;
        background-color: $theme-color;
      }
    }
  }
}
