/*
 * Copyright contributors to the Galasa project
 *
 * SPDX-License-Identifier: EPL-2.0
 */
@import "../../styles/styles";

$footer-height: 27rem;

.footer {
  $footer-background-color: #010610;

  text-align: center;
  background-color: $footer-background-color;
  color: #fff;
  border-top-left-radius: 50px;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: $footer-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include full-width-container;

  @include cornerCurlRight($footer-background-color);
}

.identifier {
  margin: 50px 0;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  a {
    text-decoration-line: none;
    font-weight: 600;
    margin: 12px 16px;
    color: currentColor;
  }
}

.icon {
  display: inline-block;
  margin: 50px 11px;
  color: currentColor;

  svg {
    width: 30px;
  }
}

.cookieConsent {
  display: flex !important; // Fight TrustArc's CSS

  a {
    text-transform: lowercase;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}
