@import "../../styles/styles";

.footer {
    margin-top: 141px;
    text-align: center;
}

.identifier {
    margin: 50px 0;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
        
    @media screen and (min-width: $br-single-column) {
        flex-direction: row;
    }

    a {
        text-decoration-line: none;
        font-weight: 600;
        margin: 12px 16px;
    }

}

.icon {
    display: inline-block;
    margin: 50px 11px;

    svg {
        width: 30px;
    
    }
}
