/*
 * Copyright contributors to the Galasa project
 *
 * SPDX-License-Identifier: EPL-2.0
 */
@import "../../styles/styles";

.button {
  border: 0;
  background: transparent;
  cursor: pointer;
  color: currentColor;

  position: absolute;
  top: 50px;
  right: $margin-container-sm + 20px + 32px;
  padding: 6px 10px;
  margin-top: -15px;
  margin-right: -10px;

  svg {
    width: 24px;
    height: 24px;
    vertical-align: middle;
  }

  @media screen and (min-width: $br-small) {
    display: flex;
    position: static;
    margin-top: 32px;
    margin-left: 2em;

    svg {
      width: 32px;
      height: 32px;
    }
  }
}
